@inherits LayoutComponentBase

<Header />
<div class="page">
    <main class="main-container">
        <article class="content">
            @Body
        </article>
    </main>
</div>
<Footer />

@code{

}