@inherits LayoutComponentBase

@using Frontend.Services
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

@inject NavigationManager _navigation

<Header />
<div class="page">
    <main class="main-container">
        <article class="content">
            @Body
        </article>
    </main>
</div>
<Footer />

@code {

}
