@page "/ingreso/exitoso"

<h3 class="form-container">Inicio Exitoso</h3>

<div class="success-message">
    <p>¡Felicidades! Has iniciado sesión con éxito.</p>
</div>

<div class="action-links">
    <NavLink class="action-link buy-link" href="/comprar">Comprar</NavLink>
    <NavLink class="action-link sell-link" href="/vender">Vender</NavLink>
</div>

@code {
}
