@page "/registro/fallido"

<h1 class="form-container">Error de Registro</h1>
<p class="error-message">Hubo un problema al intentar registrarse. Verifique los datos ingresados e intente nuevamente.</p>

@code {
   
}
