@page "/registro/exitoso"

<h3 class="form-container">Registro Exitoso</h3>

<div class="success-message">
    <p>¡Felicidades! Tu cuenta ha sido registrada con éxito.</p>
</div>

@code {
}
